// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	font-size: 15px;
}

.container .mid-col .mid-col-container #content article .entry-content { line-height: 1.7em }

.about-me {
	color: #aaa;
	font-size: 13px;
	line-height: 1.8em;
}

.about-me p {
	margin: 10px 0;
}

hr {
	height: 0;
	margin: 20px 0;
	border: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}
